 html, body{
   overflow-x: hidden;
   background-color:#FDFDFD;
 }
 body {
   font-family: "europa", sans-serif;
   color:#4B4B4B;
   margin: 0 auto;
   padding: 0 30px;
   letter-spacing: 0.06em;
   max-width: 940px;
 }
 h1, h2, h3, h4, h5, h6 {
   font-family: "europa", sans-serif;
   font-style:normal;
 }
 h1 {
   font-size:60px;
   font-style:normal;
   font-weight:700;
   line-height: 1.8;
   -webkit-margin-before: 0;
   -webkit-margin-after: 0;
 }
 .clearfix::after {
    content: "";
    clear: both;
    display: table;
 }
 .first-intro{
   padding-top: 90px;
   padding-bottom: 50px;
 }
 .second-intro{
   color:#6F6F6F;
   font-weight:400;   
   padding-bottom: 250px;
 }
 h2 {
   font-size:22px; 
   font-weight:700;
   line-height: 1.8;
 }
 h3 {
   font-size:18px;
   font-weight:400;
   line-height: 1.8;
 }
 .nav-left {
    display: inline-block;
    margin-top: 40px;
    float: left;
    width: 50%;
 }
 #top-return-to-projects-button{
    display: none;
 }
 #top-return-to-projects-button:hover{
    transform: translateX(-4px);
    transition: transform 0.4s ease-in-out;
 }
 #top-next-project-button:hover{
    transform: translateX(4px);
    transition: transform 0.4s ease-in-out;
 }
 #bottom-return-to-projects-button:hover{
    transform: translateX(-4px);
    transition: transform 0.4s ease-in-out;
 }
 #bottom-next-project-button:hover{
    transform: translateX(4px);
    transition: transform 0.4s ease-in-out;
 }
 .prototype-link{
    color: #538ED2;
 }
 .prototype-link:hover{
    color: #63ABFF;
    transition: color 0.4s ease-in-out;
 }
 .nav-right{
    z-index: 2;
    display: inline-block;
    text-align: right;
    float: right;
    width: 50%;
    color: #4B4B4B;
    margin-top: 35px; 
 }
 .animation-right{
   animation-name: fadeInRight;
   animation-duration: 0.2s;
   transition-timing-function: ease-in;
   animation-fill-mode: both;
   clear: both;
 }
 .purpose-section{
    display: inline-block;
    padding-bottom: 0;
 }
 .roles-section{
    display: inline-block;
    padding-bottom: 50px;
 }
 .summary-section{
    display: inline-block;
    padding-bottom: 100px;
 }
 .problem-section{
    display: inline-block;
    padding-bottom: 100px;
 }
 .solution-section{
    display: inline-block;
    padding-bottom: 100px;
 }
 .graphics{
    display: inline-block;
    width: 100%;
 }
 .original-design-graphics{
    display: block;
    padding-bottom: 100px;
 }
 .final-design-graphics{
    display: block;
    padding-bottom: 100px;
 }
 .process-section{
    display: inline-block;
    padding-bottom: 100px;
 }
 .design-section{
    display: inline-block;
    padding-bottom: 100px;
 }
 .color-palette-section{
    display: inline-block;
    padding-bottom: 100px;
 }
 .typography-section{
    display: inline-block;
    padding-bottom: 100px;
 }
 .results-section{
    display: inline-block;
 }
 .bottom-nav-bar{
    display: inline-block;
    width: 100%;
    padding-bottom: 150px;
 }

ul{
  position: relative;
  padding: 0px;
  list-style: none;
}

ul li{    
  position:relative;
  font-size: 16px;
  display: inline-flex;
  font-family: "europa", sans-serif;
  color:#4B4B4B;
  font-weight:700;
  text-align: right;
}

a{
  text-decoration: none;
  color: #4B4B4B;
}

/* Projects */


@media (min-width: 768px)  {
  .body{
   margin: 0 20%;
  }
  .second-intro{
   color:#6F6F6F;
   font-weight:400;   
   padding-bottom: 250px;
  }
  #top-return-to-projects-button{
   display: inline;
  }
  #top-next-project-button{
   padding: 0 0 0 50px;
 }
  .purpose-section{
   width: 60%;
   float: left;
   letter-spacing: 0.05em;
   display:block;
 }
  .purpose-paragraph-section{
   max-width: 400px;
 }
  .roles-section{
   width: 40%;
   float: right;
   display:block;
 }
  .original-design-graphics{
   width: 50%;
   float: left;
 }
  .final-design-graphics{
   width: 50%;
   float: right;
 }
}
    
/*
 * Keyframes
 */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

  /** Reverse "exit" animations */
  &.is-exiting {
      .body {
        animation-direction: alternate-reverse;
      }
}
