 html, body{
   overflow-x: hidden;
   background-color:#FDFDFD;
 }
 body {
   font-family: "europa", sans-serif;
   color:#4B4B4B;
   margin: 0 auto;
   padding: 0 30px;
   letter-spacing: 0.06em;
   max-width: 940px;
 }
 h1, h2, h3, h4, h5, h6 {
   font-family: "europa", sans-serif;
   font-style:normal;
 }
 h1 {
   font-size:22px;
   font-style:normal;
   font-weight:700;
   line-height: 1.8;
 }
 .clearfix::after {
    content: "";
    clear: both;
    display: table;
 }
 .intro{
   padding-top: 300px;
   max-width: 500px;
 }
 .first-intro{
   padding-bottom: 75px;
 }
 .second-intro{
   color:#6F6F6F;
   font-weight:400;   
   padding-bottom: 250px;
   max-width:450px;
 }
 h2 {
   font-size:18px; 
   font-weight:700;
 }
 p {
   font-size:18px;
   font-weight:400;
   color:#6F6F6F;
   max-width: 340px;
   padding-bottom: 100px;
   line-height: 1.8;
 }
 .nav-left {
    display: inline-block;
    margin-top: 40px;
    float: left;
    width: 50%;
 }
 #top-about-button{
    visibility: hidden;
 }
 .nav-right{
    display: inline-block;
    margin-top: 35px;
    text-align: right;
    float: right;
    width: 50%;
    overflow: hidden;
 }
 .project{
    padding-bottom: 40px;
 }
 .projects {
   padding-top: 50px;
   padding-bottom: 50px;
 }
 .about-me-intro{
   padding-bottom: 20px;    
 }
 .first-paragraph, .second-paragraph, .third-paragraph{
   padding-bottom: 20px;     
 }
 .about-me-left{
   width: 50%;
   float: left;
   letter-spacing: 0.05em;
 }
 .about-me-right{
   width: 50%;
   float: right;
   margin-bottom: 30px;
 }
 .profile-picture{
   margin-left: 24%;
   padding: 18px 0;
 }
 .profile-pictures{
   margin: 0 auto;
 }
 .about-me-left, .about-me-right{
   padding-bottom: 150px;
 }
 .contact-button-bottom{
   margin-bottom: 180px;
   line-height: 1.8;
 }
     
/* Hover-Underline Animation */

ul{
  position: relative;
  padding: 0px;
  list-style: none;
}

ul li{
  position:relative;
  font-size: 16px;
  display: inline-flex;
  padding: 0 0 0 40px;
  font-family: "europa", sans-serif;
  color:#4B4B4B;
  font-weight:700;
  text-align: right;
}

a{
  text-decoration: none;
  color: #4B4B4B;
}

.link{
  position: relative;
}

.link:after{
  content: '';
  position: absolute;
  width: 0; height: 2px;
  display: block;
  margin-top: 5px;
  right: 0;
  background: #4B4B4B;
  transition: width 0.5s ease;
  -webkit-transition: width 0.5s ease;
}
 
.link:hover:after{
  width: 100%;
  left: 0;
  background: #4B4B4B;
}


/*END OF HOVER UNDERLINE ANIMATION CODE*/

#credit{
  position: absolute;
  width: 64px; height: 20px;
  top: 50%; left: 50%;
  margin-top: 40px; margin-left: -38px;
  padding: 6px;
  background: #4B4B4B;
  text-align: center;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 7px 8px 0px #eab09d;
  box-shadow: 0 7px 8px 0px #4B4B4B;
  transition: all .5s ease;
}

#credit:hover{
  -webkit-box-shadow: 0 9px 15px 0px #4B4B4B;
  box-shadow: 0 9px 15px 0px #4B4B4B;
}

#credit a{
  color: #000;
}

/* Projects */


@media (min-width: 768px)  {
  .body{
    margin: 0 20%;
  }
  #top-about-button{
    visibility:visible;
  }
  .projects{
    padding-bottom: 200px;  
  }
}

@media (min-width: 1100px)  {
  #coming-soon {
    display: inline-block;
  }
}
